# Virtualenv files
bin/
lib/
Lib/
Scripts/
include/
Include/
pip-selfcheck.json
selenium/
share/
.env

# Python Files
*.Python
__pycache__/
*.pyd
*.pyc
.functional.backup
.ipynb_checkpoints
environment.pickle

# IDE Files
.idea/
.cache/

# Test run files
screenshots/
results/
report/
resources/
.qumudependancies/
config/defaults.yaml
report.html
report.xml
qed.json

# Test folders
allure/*.json
allure-report/*
assets/
__pycache__

# Old / other
attic
tmp

# Mac files
*.DS_Store

# Log files
log.html
output.xml
report.html
geckodriver.log

# Dependency Additions
tcl/
zbar_installer.msi
