pytest
requests
PyJWT==1.5.3
requests-jwt==0.4
rpyc
plumbum
pytz
bravado==9.1.0
bravado-core==4.8.4
python-box
tenacity
Faker
# flaky
grappa
PyModel
pytest-html
pytest-bdd
pytest-metadata
pytest-ordering
pytest-variables[yaml]
pytest-interactive
pytest-lazy-fixture
pytest-rerunfailures
pytest-sugar
allure-python-commons
allure-pytest
virtualenv
ipykernel
jedi==0.10.2
better_exceptions
